
<script src="~/lib/blockly/blockly_compressed.js"></script>
<script src="~/lib/blockly/blocks_compressed.js"></script>
<script src="~/lib/blockly/msg/js/en.js"></script>
@*<script>
        var blocklyArea = document.getElementById('blocklyArea');
        var blocklyDiv = document.getElementById('blocklyDiv');
        var workspace = Blockly.inject(blocklyDiv,
            { toolbox: document.getElementById('toolbox') });
        var onresize = function (e) {
            // Compute the absolute coordinates and dimensions of blocklyArea.
            var element = blocklyArea;
            var x = 0;
            var y = 0;
            do {
                x += element.offsetLeft;
                y += element.offsetTop;
                element = element.offsetParent;
            } while (element);
            // Position blocklyDiv over blocklyArea.
            blocklyDiv.style.left = x + 'px';
            blocklyDiv.style.top = y + 'px';
            blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
            blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
            Blockly.svgResize(workspace);
        };
        window.addEventListener('resize', onresize, false);
        onresize();
        Blockly.svgResize(workspace);
    </script>*@


<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="Control">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="controls_repeat_ext"></block>
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
    </category>
    <category name="Logic">
        <block type="math_arithmetic"></block>
        <block type="text"></block>
        <block type="text_print"></block>
    </category>
</xml>

<script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {
            //media: '../../media/',
            toolbox: document.getElementById('toolbox'),
            scrollbars: true
        });
</script>